body {
  background-color: #f0f0f0;
}

.parallax {
  background-image: url("/backgrounds/background1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 50%;
}

h1 {
  color: #1a1a1a;
  font-family: Roboto, Helvecta;
  font-size: 48px;
  text-align: center;
  font-weight: Light;
}

p {
  color: #0a0a0a;
  font-family: Roboto, Helvecta;
  font-size: 18px;
}
